.content {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

body {
    background-image: url("../images/arcade.jpg");
    background-color: #cccccc;
}

.game {
    color: yellow;
}

.deck, .url {
    color: white;
}

.thumb {
    text-align: center;
    height: 136px;
    padding-top: 25px;
}