<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Switch Mario Challenge</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="static/styles/main.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- endbuild -->
  </head>
  <body ng-app="webApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="content" ng-controller="MainCtrl">
        <div class="alert alert-danger" role="alert" ng-hide="index_exist">
            Index is empty - click <a href="" ng-click="makeIndex()">here</a> to resolve
        </div>
        <div class="mario-title row col-md-offset-1 col-md-10">
            <h1 class="game">Switch Game Search</h1>
        </div>
        <div class="row col-md-offset-1 col-md-10">
          <div class="col-md-12">
            <form id="gameForm">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for..." ng-model="search_data.q">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit" ng-click="search()">Go!</button>
              </span>
            </div>
            </form>
          </div>
        </div>
        {% verbatim %}
        <div class="row col-md-offset-1 col-md-10 deck" ng-show="results.results">
            Total Results: {{results.results}}  Search Time: {{results.search_time}} ms
        </div>
        <div class="row col-md-offset-1 col-md-10">
            <div class="row col-md-12" ng-repeat="res in results.items">
                <div class="col-md-2">
                    <img class="thumb" src={{res.image.small_url}} style="max-width: 120px; max-height: 120px">
                </div>
                <div class="col-md-10">
                    <div>
                        <h3 class="game">{{res.name}}</h3>
                    </div>
                    <div class="deck">
                        {{res.deck}}
                    </div>
                    <div class="url">
                        <a href="{{res.site_detail_url}}">{{res.site_detail_url}}</a>
                    </div>
                </div>
            </div>
        </div>
        {% endverbatim %}
    </div>


    <script src="static/bower_components/jquery/dist/jquery.js"></script>
    <script src="static/bower_components/angular/angular.js"></script>
    <script src="static/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="static/bower_components/angular-route/angular-route.js"></script>

        <script src="static/scripts/app.js"></script>
        <script src="static/scripts/controllers/main.js"></script>
        <script src="static/scripts/controllers/about.js"></script>
        <!-- endbuild -->
</body>
</html>
