<div class="row">
  <div class="col-md-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." ng-model="search_data.query">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="search()">Go!</button>
      </span>
    </div>
  </div>
</div>
